<nav class="navbar navbar-expand-lg bg">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Booking App</a>
    <button
      class="navbar-toggler"
      type="button"
      (click)="isCollapsed = !isCollapsed"
      [attr.aria-expanded]="!isCollapsed"
      aria-controls="navbarNavAltMarkup"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup" [ngbCollapse]="isCollapsed">
      <div class="navbar-nav me-auto">
        <a class="nav-link " [routerLink]="['/']">Home</a>
        <a class="nav-link " [routerLink]="['/categories']">Hotels</a>
        <a class="nav-link " [routerLink]="['/addbookings']">My bookings</a>
        <a class="nav-link" href="#">Airplane</a>
        <a class="nav-link">Taxi</a>
      </div>
  
    
      <div class="navbar-nav ms-auto" *ngIf="user">
        <div ngbDropdown class="d-inline-block">
          <button type="button" class="btn btn-outline-primary" id="dropdownUser" ngbDropdownToggle>
            Welcome, {{ user.username }}
          </button>
          <div ngbDropdownMenu aria-labelledby="dropdownUser" style="padding: 3px;">
            <p>{{ user.email }}</p>
            <button ngbDropdownItem (click)="logout()">Logout</button>
      
          </div>
        </div>
      </div>
    
      <div *ngIf="!user">
        <button type="button" class="btn btn-primary" (click)="login()">Login with Google</button>
      </div>
    

      <div class="navbar-nav ms-auto" *ngIf="!user">
        <button type="button" class="btn btn-primary" (click)="login()">Login with Google</button>
      </div>
    </div>
  </div>
</nav>
