<div class="container">
<section>
    <form>
        <input type="text" placeholder="Filter by city" />
        <button class="primary" type="button">Search</button>
      </form>
    </section>
    <section class="results">
      <div *ngIf="isLoading" class="loading-spinner">
        
        <p>Loading...</p>
      </div>
    
      <ng-container *ngIf="!isLoading">
        <app-booking-details 
          *ngFor="let booking of bookings"
          [booking]="booking">
        </app-booking-details>
      </ng-container>
    </section>
    
  </div>