
.spinner {
    border: 2px solid #f3f3f3;
    border-radius: 50%;
    border-top: 2px solid black;
    width: 12px;
    height: 12px;
    animation: spin 2s linear infinite;
    display: inline-block;
    margin-left: 5px;
  }

  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
