<div class="container mt-5">
    <div *ngIf="errorMessage" class="alert alert-danger">
      {{ errorMessage }}
    </div>
    <div *ngIf="successMessage" class="alert alert-success">
      {{ successMessage }}
    </div>
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="card">
          <div class="card-body">
            <h3 class="card-title text-center mb-4">Reset Password</h3>
            <form [formGroup]="resetForm" (ngSubmit)="onSubmit()">
              <div class="mb-3">
                <label for="email" class="form-label">Email:</label>
                <input id="email" formControlName="email" class="form-control" />
                <div *ngIf="resetForm.get('email')!.invalid && resetForm.get('email')!.touched" class="text-danger mt-1">
                  A valid email is required
                </div>
              </div>
              <div class="mb-3">
                <label for="favoriteMovie" class="form-label">Favorite Movie:</label>
                <input id="favoriteMovie" formControlName="favoriteMovie" class="form-control" />
                <div *ngIf="resetForm.get('favoriteMovie')!.invalid && resetForm.get('favoriteMovie')!.touched" class="text-danger mt-1">
                  Favorite movie is required
                </div>
              </div>
              <div class="mb-3">
                <label for="favoriteCountry" class="form-label">Favorite Country:</label>
                <input id="favoriteCountry" formControlName="favoriteCountry" class="form-control" />
                <div *ngIf="resetForm.get('favoriteCountry')!.invalid && resetForm.get('favoriteCountry')!.touched" class="text-danger mt-1">
                  Favorite country is required
                </div>
              </div>
              <div class="mb-3">
                <label for="newPassword" class="form-label">New Password:</label>
                <input id="newPassword" formControlName="newPassword" type="password" class="form-control" />
                <div *ngIf="resetForm.get('newPassword')!.invalid && resetForm.get('newPassword')!.touched" class="text-danger mt-1">
                  New password is required
                </div>
              </div>
              <button type="submit" class="btn w-100 bg" [disabled]="resetForm.invalid">
                Reset Password
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>