<div class="container mt-5">
  <div *ngIf="errorMessage" class="alert alert-danger">
    {{ errorMessage }}
  </div>
  <div *ngIf="successMessage" class="alert alert-success">
    {{ successMessage }}
  </div>
  <div class="row justify-content-center">
    <p class="red"><strong>Note if you dont receive a reset code check your spam mail</strong></p>
    <div class="col-md-6">
      <div class="card">
        <div class="card-body">
          <h3 class="card-title text-center mb-4">Change Password</h3>
          <form [formGroup]="resetForm" (ngSubmit)="onSubmit()">
            <div class="mb-3">
              <label for="email" class="form-label">Email:</label>
              <input id="email" formControlName="email" class="form-control" />
              <div *ngIf="resetForm.get('email')!.invalid && resetForm.get('email')!.touched" class="text-danger mt-1">
                A valid email is required
              </div>
            </div>
            <div class="mb-3">
              <label for="resetCode" class="form-label">Reset Code:</label>
              <input id="resetCode" formControlName="resetCode" class="form-control" />
              <div *ngIf="resetForm.get('resetCode')!.invalid && resetForm.get('resetCode')!.touched" class="text-danger mt-1">
                Reset code is required
              </div>
            </div>
            <div class="mb-3">
              <label for="newPassword" class="form-label">New Password:</label>
              <input id="newPassword" formControlName="newPassword" type="password" class="form-control" />
              <div *ngIf="resetForm.get('newPassword')!.invalid && resetForm.get('newPassword')!.touched" class="text-danger mt-1">
                New password is required
              </div>
            </div>
            <button type="submit" class="btn w-100 bg" [disabled]="resetForm.invalid || isLoading">
              Change Password 

              <span *ngIf="isLoading" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
