<app-header></app-header>


<router-outlet></router-outlet>
<br> <br> <br>
<app-partnership></app-partnership>
<br><br><br>


<!-- Site footer -->
<footer class="site-footer">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-6">
          <h6>About</h6>
          <p class="text-justify"> Our innovative Booking App streamlines the process of finding and reserving housing, offering you a seamless and efficient experience. Whether you're looking for a short-term stay or a long-term residence, our app provides detailed listings, real-time availability, and easy booking options to meet your needs.</p>
        </div>

        <div class="col-xs-6 col-md-3">
          <h6>Contacts</h6>
          <ul class="footer-links">
            <li><a href="#">+263 774 998 764</a></li>
            <li><a href="#">anesushangwa01&#64;gmail.com</a></li>
          
          </ul>
        </div>

        <div class="col-xs-6 col-md-3">
          <h6> Created by:</h6>
          <ul class="footer-links">
            <li><a href="https://github.com/anesushangwa01/profile">Anesu Shangwa</a></li>

          </ul>
        </div>
      </div>
      <hr>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-sm-6 col-xs-12">
          <p class="copyright-text">Copyright &copy; 2024 
      
          </p>
        </div>

        <div class="col-md-4 col-sm-6 col-xs-12">
          <ul class="social-icons">
            <li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
            <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
            <li><a class="dribbble" href="#"><i class="fa fa-dribbble"></i></a></li>
            <li><a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>   
          </ul>
        </div>
      </div>
    </div>
</footer>
