<div class="navbar-nav ms-auto" *ngIf="userInfo">
    <div ngbDropdown class="d-inline-block">
      <button type="button" class="btn btn-outline-primary" id="dropdownUser" ngbDropdownToggle>
        Welcome ,  {{ userInfo.name }}
      </button>
      <div ngbDropdownMenu aria-labelledby="dropdownUser" style="padding: 3px;">
        <p>{{ userInfo.email }}</p>
        <button (click)="logout()">Logout</button>
  
      </div>
    </div>
  </div>

  <div *ngIf="!userInfo">
    <a class="nav-link " style="color: white;"  [routerLink]="['/login']">Login</a>
  </div>
  <!-- <div *ngIf="userInfo">
    <h2>User Profile</h2>
    <p><strong>Name:</strong> {{ userInfo.name }}</p>
    <p><strong>Email:</strong> {{ userInfo.email }}</p>
    </div> -->