label, input {
    display: block;
  }
  label {
    color: var(--secondary-color);
    font-weight: bold;
    text-transform: uppercase;
    font-size: 12pt;
  }
  input {
    font-size: 16pt;
    margin-bottom: 15px;
    padding: 10px;
    width: 100%;
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: solid .3px;
  }
  .listing-display{
    display: grid;
    grid-template-columns: 1fr 1fr ;
  }

  img{
    width: 100%;
  }