

  .background {
    background-image: url('https://cdn.pixabay.com/photo/2016/06/24/10/47/house-1477041_1280.jpg'); /* Replace with your image URL */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
height: 70vh;
  
    align-items: center;
  }





  .containers {
    text-align: center;

    padding: 20px;
    opacity: 0;
    animation: fadeIn 2s forwards;
  }
  .move{
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  h1 {
    font-size: 3em;
    color: white;
  

    margin: 0;
  }

  p {
    font-size: 1.5em;
    color: #111B21;;
  
  }
  .cover{
  margin-top: 30px;
  
  }
  .cover, p{
    text-align: center ;
    font-size: larger;
   }
  .center{
    text-align: center;
    
  }
  .cover2{
    background-color: #0005;
    height: 70vh;
  }

  @keyframes fadeIn {
    to {
      opacity: 1;
    }
  }
  @media (max-width: 900px) {

 
    
  }


.image-container {
    position: relative;
    display: inline-block;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.sticker {
    position: absolute;
    top: 20%;
    left: 20%;
    width: 20%;
}

.location-tag {
    position: absolute;
    bottom: 10px;
    left: 10px;
    background: white;
    padding: 5px 10px;
    border-radius: 15px;
    font-size: 14px;
    display: flex;
    align-items: center;
}

.location-tag::before {
    content: '\1F4CD';
    margin-right: 5px;
}



.btn-link {
    font-size: 1rem;
    text-decoration: underline;
    color: green;
}

h2{
  color: #111B21;
}
.fade-in {
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.fade-in.visible {
  opacity: 1;
}