

<div class="background">
	<div class="cover2">
	
	  <div class="container">
		<br><br><br>

		<div *ngIf="userInfo">
			<h1> {{ userInfo.name }}  <br> Welcome to <br> Booking App!</h1>
		  </div>
		  <div *ngIf="!userInfo">
			<h1>Welcome to <br> Booking App!</h1>
		  </div>

			</div>

		  </div>
		</div>
		<br><br><br>
		  <div class="container">


			<div class="cover text-center  fade-in">
		
				<h5>Our innovative Booking App streamlines the process of finding and 
				  reserving housing, offering you a seamless and efficient experience.
				  Whether you're looking for a short-term stay or a long-term residence,
				  our app provides detailed listings, real-time availability, and easy 
				  booking options to meet your needs. 
				</h5>
		
				<!-- <div class=" center">
					<button type="button" class="btn btn-primary">
					  <a class="nav-link active text-white" [routerLink]="['categories']">Get started</a>
					</button>
				  </div> -->
				</div>
			</div>
				<br><br><br>
				<div class="container-fluid container  fade-in">
					<div class="row align-items-center">
						<div class="col-md-6 ">
							<div class="image-container bac">
								<img src="https://cdn.pixabay.com/photo/2014/07/21/19/20/lobby-398845_640.jpg" alt="Woman smiling" class="img-fluid rounded">
								<!-- <div class="overlay">
									
									<div class="location-tag">Hotels</div>
								</div> -->
							</div>
						</div>
						<div class="col-md-6">
							<h2 >Discover Your Perfect Stay</h2>
							<p>Planning your next getaway has never been easier. Explore a wide range of hotels to suit every budget and preference, from luxurious resorts to cozy boutique stays.</p>
							
						<div class=" center">
							<button type="button" class="btn bg">
							  <a class="nav-link active text-white" [routerLink]="['categories']">Get started</a>
							</button>
						  </div>
						</div>
					</div>
				</div>
		
		   <br><br><br>
		   <div class="bcl">
				<div class="container-fluid container fade-in">
					<div class="row align-items-center">
						<div class="col-md-6">
							<h2 class="text-white">Ride with Ease</h2>
							<p class="text-white">Experience seamless taxi booking with our user-friendly platform. Whether you need a quick ride to the airport or a comfortable journey across town, we've got you covered. </p>
					
							<div class=" center">
								<button type="button" class="btn bg">
								  <a class="nav-link active text-white " [routerLink]="['/taxi']">Get started</a>
								</button>
							  </div>
							  <br>
							
						</div>
						<div class="col-md-6 ">
							<div class="image-container bac">
								<img src="https://cdn.pixabay.com/photo/2023/06/21/04/42/automobile-8078415_640.jpg" alt="Woman smiling" class="img-fluid rounded">
								<div class="overlay">
								
								</div>
							</div>
						</div>
				
					</div>
				</div>
			</div>
		
		
		
				<br><br><br>

				<div class="container-fluid  container fade-in">
					<div class="row align-items-center">
						<div class="col-md-6 ">
							<div class="image-container bac" >
								<img src="https://cdn.pixabay.com/photo/2019/09/03/09/14/plane-4449009_1280.png" alt="Woman smiling" class="img-fluid rounded">
								<div class="overlay">
								
									<div class="location-tag">Coming soon</div>
								</div>
							</div>
						</div>
						<div class="col-md-6">
							<h2>Fly with Confidence</h2>
							<p>Embark on your next adventure with our streamlined flight booking service. Explore a vast selection of airlines and destinations to find the perfect itinerary at competitive prices.</p>
							<div class=" center">
								<button type="button" class="btn bg">
								  <a class="nav-link active text-white" [routerLink]="['/comming-soon']">Get started</a>
								</button>
							  </div>
						</div>
					</div>
				</div>
			
		

	
		  <br><br><br>
		 


	

  