<div class="background">
	<div class="cover">
    <div class="containers">
		<div class="move container">
	<div class="welcome bg-primary">
		<br><br><br>
		
			<h1>{{ user.username }}  <br> Welcome <br> to <br> Booking App!</h1>
		  
     

<!-- 	




<div *ngIf="!user">
	<button  type="button" class="btn btn-primary" (click)="login()">Login with Google</button>
  </div> -->

	</div>
	 <div class="bk bg-warning">
      <p>Our innovative Booking App streamlines the process of finding and 
		reserving housing, offering you a seamless and efficient experience.
		 Whether you're looking for a short-term stay or a long-term residence,
		  our app provides detailed listings, real-time availability, and easy 
		  booking options to meet your needs. Explore a wide range of properties, 
		  compare amenities, and make reservations with confidence—all at your fingertips. 
		  Simplify your search and start your journey to finding the perfect home with our 
		  Booking App today!</p>
	<div class="btn">
	

<button type="button" class="btn btn-primary">  <a class="nav-link active" [routerLink]="['categories']">Get started </a></button>
	</div>
	</div>
    </div>
  </div>
</div>
</div>