

<div *ngIf="isAuthenticated; else notAuthenticated">
	<p>Welcome, {{ user?.username }}!</p>
	<p>Email: {{ user?.email }}</p>
  </div>
  <ng-template #notAuthenticated>
	<p>You are not authenticated</p>
  </ng-template>
`
<div class="background">
	<div class="cover2">
	
	  <div class="container">
		<br><br><br>

			<div  >
			  <h1>{{ user.username }}<br> Welcome  to <br> Booking App!</h1>
			</div>

		
			</div>

		  </div>
		</div>

		  <div class="container">


			<div class="cover">
		
				<h4>Our innovative Booking App streamlines the process of finding and 
				  reserving housing, offering you a seamless and efficient experience.
				  Whether you're looking for a short-term stay or a long-term residence,
				  our app provides detailed listings, real-time availability, and easy 
				  booking options to meet your needs. Explore a wide range of properties, 
				  compare amenities, and make reservations with confidence—all at your fingertips. 
				  Simplify your search and start your journey to finding the perfect home with our 
				  Booking App today!
				</h4>
				<div class=" center">
					<button type="button" class="btn btn-primary">
					  <a class="nav-link active text-white" [routerLink]="['categories']">Get started</a>
					</button>
				  </div>
				</div>
		  </div>

		  



	

  