

  .background {
    background-image: url('https://cdn.pixabay.com/photo/2016/06/24/10/47/house-1477041_1280.jpg'); /* Replace with your image URL */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
height: 70vh;
  
    align-items: center;
  }





  .containers {
    text-align: center;

    padding: 20px;
    opacity: 0;
    animation: fadeIn 2s forwards;
  }
  .move{
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  h1 {
    font-size: 3em;
    color: white;
  

    margin: 0;
  }

  p {
    font-size: 1.5em;
    color: #111B21;;
  
  }
  .cover{
  margin-top: 30px;
  
  }
  .cover, p{
    text-align: center ;
    font-size: larger;
   }
  .center{
    text-align: center;
    
  }
  .cover2{
    background-color: #0005;
    height: 70vh;
  }

  @keyframes fadeIn {
    to {
      opacity: 1;
    }
  }
  @media (max-width: 900px) {

 
    
  }