

  .background {
    background-image: url('https://cdn.pixabay.com/photo/2018/08/06/19/49/design-3588214_1280.jpg'); /* Replace with your image URL */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
 .cover{
  /* background: rgba(255, 255, 255, 0.7);
  width: 100%;
  height: 100%; */
 
 }

 .move{
margin-top: 13%;


 }
 .bk{
 padding: 9px;
 
 }
  .containers {
    text-align: center;
  
  
    padding: 20px;
    opacity: 0;
    animation: fadeIn 2s forwards;
  }
  .move{
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  h1 {
    font-size: 3em;

   color: white;
    margin: 0;
  }

  p {
    font-size: 1.5em;
 
    color: black;
  
  }
  

  @keyframes fadeIn {
    to {
      opacity: 1;
    }
  }
  