
.spinner {
    border: 2px solid white;
    border-radius: 50%;
    border-top: 2px solid #000;
    width: 12px;
    height: 12px;
    animation: spin 2s linear infinite;
    display: inline-block;
    margin-left: 5px;
  }

  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  .bg{
    background-color: black;
    color: white;
  }